body {
  font-size: 17px;
}

#header {
  padding: 0 0;
  margin: 0 0;
}
#header #h_header {
  font-weight: bold;
  padding: 0 0;
  margin: 0 0;
}

#save_btn {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}

.div_type {
  display: none;
}

.col-form-label {
  font-weight: bold;
  color: black;
}

.error {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=style_product_add.css.map */
