#action_btn, #select_action, h1 {
  margin: 4px 5px;
}

p.card-text {
  margin: 0;
  padding: 0;
}

div.card-body {
  position: relative;
}
div.card-body input {
  position: absolute;
  left: 9px;
  top: 9px;
}

/*# sourceMappingURL=style_product_list.css.map */
