body {
  font-size: 17px;
}

// Header
#header {
  padding: 0 0;
  margin: 0 0;

  #h_header {
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
  }
}

// Save button
#save_btn {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}

// Hide all type divs
.div_type {
  display: none;
}

// Input fields
.col-form-label {
  font-weight: bold;
  color: black;
}

// Error messages
.error {
  color: red;
  font-weight: bold;
}
